{% extends 'base.html.twig' %}

{% block title %}App{% endblock %}

{% block body %}

<h1>Tweets</h1>

<ul>
    {% for tweet in tweets %}
        <li>
            <div>
                <p>{{ tweet.content }}</p>
                <span class="author"></span>
            </div>
        </li>
    {% endfor %}
</ul>

{% endblock %}
